footer {
	width: 50vw;
	height: 5vh;
	display: flex;
	flex-flow: column wrap;
	margin: 0 auto;
}
a.footer {
	margin-right: 1em;
	text-transform: uppercase;
	font-size: 0.75em;
}
.footer-one {
	align-items: center;
	width: 80%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
}
.footer-two {
	align-items: center;
	width: 20%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
}
p.footer {
	text-transform: uppercase;
	font-size: 0.8em;
}
